# Core
python-dotenv
pydantic
pydantic-settings
loguru
fastapi 
uvicorn  
asyncua 
httpx
sqlalchemy



# Testing
pytest
pytest-cov
pytest-asyncio

# Formatting / Linting
black
ruff
ty
